streamlit
opencv-python==4.11.0.86
Pillow==9.5.0
easyocr==1.7.0
numpy==1.26.4
ultralytics
pandas==2.2.2

# CPU versions of torch and torchvision (no CUDA)
torch==2.5.1
torchvision==0.20.1


# python.exe -m pip install --upgrade pip
# pip install -r requirements.txt
# streamlit run ./app.py